{% extends 'home/index.html' %}
{% block content %}
{% load static %}
    <section class="main__categories">
        <h2 class="categories__title">Categorías</h2>
        <div class="categories__items">
            <div class="categories__item">
                <div class="item__imgc">
                    <img src="assets/img/buho.png" style="width: 216px; height: 216px" class="categories__img">
                </div>
                <div class="item__data">
                    <span class="item__name">New Arrivals</span>
                    <span class="item__advice">Shop now</span>
                </div>
            </div>

            <div class="categories__item">
                <div class="item__imgc">
                    <img src="assets/img/buho.png" style="width: 216px; height: 216px" class="categories__img">
                </div>
                <div class="item__data">
                    <span class="item__name">New Arrivals</span>
                    <span class="item__advice">Shop now</span>
                </div>
            </div>
            <div class="categories__item">
                <div class="item__imgc" style="width: 218px; height: 218px">
                    <img src="assets/img/buho.png" style="width: 216px; height: 216px" class="categories__img">
                </div>
                <div class="item__data">
                    <span class="item__name">New Arrivals</span>
                    <span class="item__advice">Shop now</span>
                </div>
            </div>
            <div class="categories__item">
                <div class="item__imgc">
                    <img src="assets/img/buho.png" style="width: 216px; height: 216px" class="categories__img">
                </div>
                <div class="item__data">
                    <span class="item__name">New Arrivals</span>
                    <span class="item__advice">Shop now</span>
                </div>
            </div>
            <div class="categories__item">
                <div class="item__imgc">
                    <img src="assets/img/buho.png" style="width: 216px; height: 216px" class="categories__img">
                </div>
                <div class="item__data">
                    <span class="item__name">New Arrivals</span>
                    <span class="item__advice">Shop now</span>
                </div>
            </div>
        </div>
    </section>


{% endblock %}